.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 32px;

    .gridItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;
        border-radius: 10px;

        .cardIntro {
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 100%;
        }

        .body {

            .img{

                img{
                    padding: 48px 12px;
                    object-fit: cover;
                }
            }

            .func {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 8px;
                margin-bottom: 12px;
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        margin-bottom: 32px;
        padding: 0 20px;
        .gridItem {
            display: flex!important;
            justify-content: space-between;
            padding: 24px;
            border-radius: 10px;
            width: 377px;
            .cardIntro {
                display: flex;
                align-items: start;
                justify-content: space-between;
                width: 100%;
            }

            .body {
                display: flex;
                width: 100%;
                gap: 10px;
                .img{
                    width: 100%;
                    img{
                        padding: 0;
                        width: 300px;
                    }
                }
                .func {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    width: 40%;
                    gap: 8px;
                    margin-bottom: 12px;
                }
            }
        }
        .gridItem:hover  .hoverAction{
            width: 70%;
            transition: 0.5s;
            position: absolute;
            
            height: 0px;
            box-shadow: rgba(0, 0, 0, 0.596) 0px -52px 100px 10px;
    
        }
        .gridItem:hover img{
            transform: scale(103%);
            transition: 0.5s;
    
        }
    }

}
@media only screen and (max-width: 390px){
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        margin-bottom: 32px;
        padding: 0 20px;
        .gridItem {
            display: flex!important;
            justify-content: space-between;
            padding: 24px;
            border-radius: 10px;
            width: 330px;
            .cardIntro {
                display: flex;
                align-items: start;
                justify-content: space-between;
                width: 100%;
            }

            .body {
                display: flex;
                gap: 15px;
                width: 100%;
                .img{
                    width: 100%;
                    img{
                        padding: 0;
                        width: 270px;
                    }
                }
                .func {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    width: 50%;
                    gap: 8px;
                    margin-bottom: 12px;
                }
            }
        }
        .gridItem:hover  .hoverAction{
            width: 70%;
            transition: 0.5s;
            position: absolute;
            
            height: 0px;
            box-shadow: rgba(0, 0, 0, 0.596) 0px -52px 100px 10px;
    
        }
        .gridItem:hover img{
            transform: scale(103%);
            transition: 0.5s;
    
        }
    }
}
@media only screen and (max-width: 375px){
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        margin-bottom: 32px;
        padding: 0 20px;
        .gridItem {
            display: flex!important;
            justify-content: space-between;
            padding: 24px;
            border-radius: 10px;
            width: 317px;
            
        }
        
    }
}