aside{
    padding: 100px 0px 0px 10px!important;
    ul{
        li{
            font-size: 16px;
            line-height: 15px;
            font-weight: 600;
            color: #94a7cba2;
            padding: 16px;
        }
    }
}